{% extends "base.html.twig" %}

{% block body %}

    <section class="homepage">

    {% include 'navHome.html.twig' %}

    {% include 'Home/body.html.twig' %}

    </section>

    {{ render(controller('App\\Controller\\SecurityController::loginAction')) }}

    {{ render(controller('App\\Controller\\RegistrationController::register')) }}

{% endblock %}