@import "~bootstrap/scss/bootstrap";
@import "~mdbootstrap/scss/mdb";
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body {
  padding-right: 0 !important
}
.homepage {
  .logoTitle {
    font-family: 'Press Start 2P', cursive;
    color:black;
  }
  section {
    min-height: 750px;
  }
  a {
    width: 200px;
  }
  .full-bg-img {
    min-height: 750px;
  }
  .intro-2 {
    background-image: url("../images/pacmanbleu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;
  }
  .btn .fa {
    margin-left: 3px;
  }
  .top-nav-collapse {
    background-color: #424f95 !important;
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  h6 {
    line-height: 1.7;
  }
  .hm-gradient .full-bg-img {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.8), rgba(29, 210, 177, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.8), rgba(29, 210, 177, 0.8) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.8)), to(rgba(29, 210, 177, 0.8)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.8), rgba(29, 210, 177, 0.8) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.8), rgba(29, 210, 177, 0.8) 100%);
  }
  @media (max-width: 450px) {
    .margins {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
  @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
  }
}

/** end homepage **/